/* CSS Document */
body{
    /*background-color:#e9e6d3;*/
    background-color:#000000;
}

a{
 text-decoration:none;
}

.menu{
	background-image:url('../Images/menu_nav.png');
	height:55px;
	width:100%;
	margin-top:25px;
}
.menu a:hover{
    color:Orange;
}

.menu a{
    color:White;
    text-decoration:none;
	font-weight:bold;
	text-shadow:0.1em 0.1em 0.6em white;

}
.circle{
	border: 2px solid #a1a1a1;
	padding: 10%;
	background: #dddddd;
	width: 150px;
	height: 100px;
	border-radius: 60%;
}
.company_info{
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    padding: 20px 30px 10px 30px;
    min-height:680px;
}
.slide_show{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border:2px solid #acb6ba;
    background-repeat: repeat-x;
    height: 100px;
    background-color:white;
}
.frame
{
    border:1px solid #8A8A8A;
    width:190px;
    height:140px
}
.frame:hover
{
     border:2px solid #8A8A8A;
     width:190px;
     height:140px
}

.banner_side{
    background-color: white;
    border: 1px solid #DEDADA;
    border-radius:10px;
    height: 180px;
    padding: 10px 7px 13px 7px;
    text-align: center;
    width: 36px;
    border:1px solid #acb6ba;
    position:absolute;
    left:0;
    margin-left:0;
}

.menu_item:hover
{

}
.menu_item
{
    background-position:center;
    background-repeat:no-repeat;
    width:135px;
    height:140px;
    cursor:pointer;
    position:relative;
}

.i_1
{
    background-image:url('../Images/Round_1.png');
}

.i_2
{
    background-image:url('../Images/Round_2.png');
}

.i_3
{
    background-image:url('../Images/Round_3.png');
}


.footer{
    text-align:center;
    width:900px;
    font-size:15px;
    color:white;
    padding-top:13px;
}

.footer a:hover{
    color:#FFA500;
}

.footer a{
    color:#FFFFFF;
}

.bullet_icon
{
    background-image:url('../Images/bullet-blue.png');
    background-position:center;
    background-repeat:no-repeat;
    width:32px;
    height:32px;    
}

.designer{
    text-align:right;
    font-size:9px;
}
.designer a{
    color:#b2bb55;
}
.designer a:hover{
    color:#FFA500;
}

.logo
{
    background-image:url('../Images/Logo.png');
    width:550px;
    height:423px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}
.footer_bg{
    background-image:url('../Images/footer_bottom.png');
}

#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
.style1{
            height: 199px;
}
.slide_image
{
    background-image: url(bg-image.png);
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
}

.footer_s
{
    background: url("../Images/gradient_alt2.gif") repeat-x scroll left top #E7E9EF;
    border-bottom: 1px solid #849F9A;
    border-left: 1px solid #849F9A;
    border-right: 1px solid #849F9A;
    height: 63px;
    border-radius: 0px 0px 20px 20px;
}

.slide
{
    border-radius:10px;
    border:2px solid #acb6ba;
    background-color:white;
    height:150px;
    background: url("../Images/nav.png") repeat-x scroll left top #E7E9EF;
    border-bottom: 1px solid #849F9A;
    border-left: 1px solid #849F9A;
    border-right: 1px solid #849F9A;
}

.footer_t
{
    background: url("../Images/a.png") repeat-x scroll left top transparent;
    height: 22px;
    width: 1260px;
    position: absolute;
    margin-top: -19px;
    margin-left: 6px;
}
